name: NPM publish

on:
  push:
    tags:
      # Run workflow on version tags, e.g. v1.2.3
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Bundle
        run: bun run bundle && mv dist/package.json package.json

      - name: Publish
        run: bun publish
