name: NPM publish

on:
  push:
    tags:
      # Run workflow on version tags, e.g. v1.2.3
      - "v*.*.*"

jobs:
  test:
    uses: ./.github/workflows/test.yml

  publish:
    runs-on: ubuntu-latest

    needs:
      - test

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Bundle
        run: bun run bundle && mv dist/package.json package.json

      - name: Publish
        run: npm publish
